@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap');

/* Global variable */
:root {
    /* color */
--color-white : #ffffff;
--color-light-white : #eee;
--color-dark-white : #bdbdbd;
--color-lightblue : rgb(194, 235, 248);
--color-lightviolet :rgb(237, 198, 255);
--color-lightpeach:peachpuff;
--color-lightpink :plum;
--color-black : #1a1a1a; 
--color-blue: rgb(14, 25, 46);



    /* font size */
--font-large : 48px;
--font-medium : 28px;
--font-regular : 22px;
--font-small : 18px;
--font-micro : 14px;

    /* font weight */
--weight-bold : 800;
--weight-semi-bold : 600;
--weight-regular : 400;

    /* size */


}



/* Universal tags */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-black);
    cursor: default;
}
a{
    text-decoration: none;
    color: var(--color-black);
}
ul, li {
    list-style: none;
}
button{
    background: transparent;
    cursor: pointer;
    border: 0;
    outline: none;
}

/* Typography */
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0px;
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0px;
}

p{
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0px;
}

/* Navbar */
#navbar{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;

}
.navbar__logo{
    width: 80px;
    margin: 0px 25px; 
}

.navbar__logo a img{
    width: 100%;

}
.navbar__menu{
    display: flex;
    font-size: var(--font-small);
    font-weight:var(--weight-semi-bold); justify-content: flex-end; 
}
.navbar__menu__items{
    margin: 0px 25px;
    vertical-align: middle;
     line-height: 80px;
    cursor: pointer;
}

.navbar__menu__items.active{
    background-color: var(--color-lightviolet);
}
.navbar__menu__items:hover{
    opacity: 0.7;
}

/* HOME */
#home{
    background: url('/imgs/home-background.jpg') center/cover no-repeat;
    border: 2px solid red;
    padding: 60px 0px;
    text-align: center;
}
.photo{
    margin: 0 auto;
    background: url('/imgs/hyelee_img.jpg') center/cover no-repeat;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}
.home__title, .home__description {
    color: var(--color-white);
}
.home__contact{
    margin: 30px 0px;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    color: var(--color-white);
    border:2px solid #fff;
}


/* Section common */
.section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}
.section p{
    font-size: var(--font-regular);
    margin: 30px 0px;
    
}

/* about */
#about{
    border: 2px solid red;
}

.about__major{
    display: flex;
    justify-content: space-between;
}

.major__icon{
    width: 170px;
    height: 170px;
    line-height: 170px;
    margin: 0 auto;
    font-size: 90px;
    color: var(--color-lightviolet);
    border-radius:50% ;
    border: 2px solid var(--color-lightviolet);
}
.major__title{
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
    margin-top: 15px;
}
.major__description{
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
    margin:15px 0px;
}
.about__jobs{
    border: 2px solid blue
}

/* skills */
#skills{
    background-color: var(--color-lightviolet);
}
h3{

}